.imgLogo{
    position: relative;
    height: 150px; 
    width: 150px; 
    margin-right: 5px;
    bottom: 50px;
}
.titulo{
    color: peru;
    position: relative;
    font-family: georgia, serif;
    margin: 0px;
    padding: 0px;
    bottom: 50px;
}
.BotonCategorico{
    position: relative;
    color:  rgb(242, 238, 220);
    background-color:rgb(89, 58, 27);
    font-family: georgia, serif;
    font-weight: bold;
    font-size:17px;
    top: 50px;
    margin-right: 10px;
    right: 150px;
    border-width: 2px;
    border-color:rgb(242, 238, 220);
    border-bottom: 5%;
    width: 140px;
}

.conten{
    width: 10px;
    right: 70px;
    display: flex;
}

.notification-bubble{
    position: relative;
    background: rgb(242, 238, 220);
    color: darkgreen;
    font-size: 14px;
    font-family: georgia, serif;
    height: 60px;
    width: 60px;
    font-weight: bold;
    margin-right: 3px;
    text-align: left;
    border: 5px solid #a0522d;
    border-radius: 50px 80px 50px 80px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.2); 
}
.imgCarrito{
    position: relative;
    padding: 0px;
    width: 50px;
    height: 90px;
    margin-bottom: 30px;
    bottom: 5px;
    right: 5px;
}